.gallery {
  @extend %grid;
  grid-template-columns: repeat(auto-fit, minmax(min(32rem, 100%), auto));
  justify-content: center;

  &__container {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.35);
    }
  }

  &__date {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
    margin-block-end: 0.4rem;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4rem 3.2rem;
    color: $color-white;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.4;
    margin-block-end: 0.4rem;
  }

  &__author {
    font-size: 1.3rem;
    font-weight: 400;
    margin-block-end: 1.6rem;
  }

  .separator {
    margin-block-end: 2rem;
  }

  .gallery__link {
    @extend %flexbox;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: auto;
    height: 1.6rem;
    padding: 0;
  }
}

@include respond-to($breakpoint-tablets) {
  .gallery {
    &__container {
      transition: transform 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: translateY(-2rem);
      }

      &:is(:hover)::after {
        bottom: -0.2rem;
        @include decoration(to left bottom, 100%, 0.6rem, 180deg);
      }
    }
  }

  .gallery__image {
    img {
      width: 38.4rem;
      height: 50rem;
    }
  }
}
