.header {
  @extend %flexbox;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 111rem;
  margin-inline: auto;
  padding: 2.8rem 2.4rem;
}

.menu__btn {
  &--close {
    display: none;
  }
}

@include respond-to($breakpoint-tablets) {
  .header {
    padding: 1.6rem 4rem;
    margin-right: auto;
  }

  .menu__btn {
    &--open {
      display: none;
    }
  }
}
