.features {
  max-width: 111rem;
  @extend %grid;

  .hero {
    &__info {
      background-color: $color-black;
      color: $color-white;
      padding: 7.2rem 2.8rem;
      position: relative;

      &::before {
        top: 0;
        @include decoration(to left bottom, 12.8rem, 0.6rem, 180deg);
      }
    }

    &__image {
      img {
        max-width: none;
        width: 100%;
      }
    }

    &__title {
      font-size: 3.2rem;
      text-transform: uppercase;
      line-height: calc(4 / 3.2);
      letter-spacing: 0.333rem;
      margin-block-end: 1.6rem;
    }

    &__description {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: calc(2.5 / 1.5);
      opacity: 0.6;
    }
  }

  &__full {
    @extend %grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(31rem, 100%), max-content)
    );
    padding: 6.4rem 3.2rem;
  }
}

@include respond-to($breakpoint-tablets) {
  .features {
    grid-template-columns: 1fr auto;
    align-items: stretch;

    .hero {
      &__image {
        order: 1;
      }
    }

    &__full {
      padding: 11.2rem 4rem;
      gap: 7.2rem 1.1rem;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .features {
    &__full {
      padding-inline: 0;
      padding-block: 16rem;
    }
  }
}
