.icon {
  fill: transparent;
  display: inline-block;

  &__arrow {
    width: 4.2rem;
    height: 1.2rem;

    &--black {
      stroke: $color-black;
    }

    &--white {
      stroke: $color-white;
    }
  }

  &__menu {
    stroke: $color-black;

    &--open {
      width: 2rem;
      height: 0.6rem;
    }

    &--close {
      width: 1.6rem;
      height: 1.5rem;
    }
  }
}
