.hidden {
  display: none;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: $color-white;
  opacity: 0.25;
}

.overlay {
  position: fixed;
  top: 7.2rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.hero {
  @extend %grid;

  &__info {
    @extend %flexbox;
    align-items: flex-start;
    background-color: $color-black;
    color: $color-white;
    padding: 7.2rem 2.8rem;
    position: relative;

    &::before {
      top: 0;
      @include decoration(to left bottom, 12.8rem, 0.6rem, 180deg);
    }
  }

  &__image,
  &__image > * {
    max-width: none;
    width: 100%;
  }

  &__title {
    font-size: 3.2rem;
    text-transform: uppercase;
    line-height: calc(4 / 3.2);
    letter-spacing: 0.333rem;
    margin-block-end: 1.6rem;
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: calc(2.5 / 1.5);
    opacity: 0.6;
  }
}

@include respond-to($breakpoint-tablets) {
  .hero {
    grid-template-columns: 1fr max-content;
    align-items: stretch;

    &__image {
      order: 1;
    }

    &__info {
      padding-inline: 5.4rem;

      &::before {
        left: 0;
        top: 50%;
        bottom: 50%;
        transform: translateY(50%);
        width: 0.6rem;
        height: 14.4rem;
      }
    }

    &__title {
      font-size: 4rem;
      line-height: calc(4.8 / 4);
      letter-spacing: 0.417rem;
    }
  }
}

@include respond-to($breakpoint-large-tablets) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include respond-to($breakpoint-desktops) {
  .hero {
    grid-template-columns: 1fr max-content;

    &__info {
      padding-block: 0;
      padding-inline: 11.2rem;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 6.4rem;
  height: 3.2rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $color-black;
    }

    &:focus + .slider::before {
      box-shadow: 0 0 0.1rem $color-black;
    }

    &:checked + .slider::before {
      -webkit-transform: translateX(2.8rem);
      -ms-transform: translateX(2.8rem);
      transform: translateX(2.8rem);
      background-color: $color-white;
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-light-grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &::before {
    position: absolute;
    content: "";
    height: 2.4rem;
    width: 2.4rem;
    left: 0.4rem;
    bottom: 0.4rem;
    background-color: $color-black;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  &.round {
    border-radius: 1.6rem;

    &::before {
      border-radius: 50%;
    }
  }
}
